$UI-UX-1-hex: #6D3C1D;   // Marrón oscuro
$UI-UX-2-hex: #AC9B8C;   // Beige suave
$UI-UX-3-hex: #060A0D;   // Negro
$UI-UX-4-hex: #72685B;   // Marrón claro
$UI-UX-5-hex: #F2F2F2;   // Gris muy claro

// Estilos generales
$font-family-primary: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-family-secondary: "Helvetica Neue", Arial, sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary, $font-family-secondary;
  margin: 0;
  padding: 0;
  background-color: $UI-UX-3-hex;   // Fondo más claro
  color: $UI-UX-5-hex;   // Texto más oscuro
  overflow: hidden;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-bottom: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $UI-UX-3-hex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $UI-UX-5-hex;   // Fondo más claro
  z-index: 100;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
}

header > h1 > span {
  font-size: 12px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    font-size: 8px;
    text-align: center;
  }
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.header-title {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  font-weight: bold;
  color: $UI-UX-3-hex;   // Texto más oscuro

  @media screen and (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
    text-align: center;
  }
}

.menu-button {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    color: $UI-UX-5-hex;   // Texto más oscuro
    background-color: $UI-UX-3-hex;   // Fondo más claro
    border-radius: 5px;
    border: 1px solid $UI-UX-5-hex;   // Borde más oscuro
    padding: 8px 16px;
    cursor: pointer;
  }
}

.header-links {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    &.show-menu {
      display: flex;
    }
  }
}

.header-links a {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: $UI-UX-5-hex;   // Texto más oscuro
  text-decoration: none;
  padding: 8px 16px;
  background-color: $UI-UX-3-hex;   // Fondo más claro
  border-radius: 5px;
  border: 1px solid $UI-UX-5-hex;   // Borde más oscuro
  transition: background-color 0.3s, color 0.3s;
}

.header-links a:hover {
  background-color: $UI-UX-5-hex;   // Fondo más oscuro
  color: $UI-UX-3-hex;   // Texto más claro
}

.section {
  padding: 20px;
  background-color: $UI-UX-5-hex;   // Fondo más oscuro
  color: $UI-UX-3-hex;   // Texto más claro
  border-radius: 5px;
  margin-bottom: 20px;
  scroll-margin-top: 60px;
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    overflow-y: auto;
    max-height: 80vh;
  }
  @media screen and (max-width: 480px) {
    overflow-y: auto;
    max-height: 70vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-title {
  margin-bottom: 10px;
  font-weight: bold;
  color: $UI-UX-1-hex;   // Texto más claro
  font-family: $font-family-primary;   // Fuente Roboto
  text-transform: uppercase;
  letter-spacing: 2px;

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.section-content ul {
  font-family: "Press Start 2P";
  font-size: 12px;
  margin: 0;
  padding-left: 20px;
  color: $UI-UX-4-hex;   // Texto oscuro

  @media screen and (max-width: 1024px) {
    font-size: 10px;
  }
  @media screen and (max-width: 768px) {
    font-size: 9px;
  }
  @media screen and (max-width: 480px) {
    font-size: 6.5px;
  }
}

a {
  color: $UI-UX-3-hex;   // Texto más oscuro
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
    overflow-y: auto;
  }

  .section {
    padding: 10px;
  }
}

.hidden {
  display: none;
}

.section h2 {
  font-family: "Press Start 2P";
  background-image: linear-gradient(to right, $UI-UX-1-hex, $UI-UX-5-hex);
  border-radius: 80%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: $UI-UX-3-hex;   // Texto oscuro
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.section p {
  font-family: "Press Start 2P";
  font-size: 14px;
  margin-bottom: 10px;
  color: $UI-UX-1-hex;   // Texto oscuro

  @media screen and (max-width: 1024px) {
    font-size: 10px;
  }
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
  @media screen and (max-width: 480px) {
    font-size: 8px;
  }
}

strong {
  color: $UI-UX-4-hex;   // Texto oscuro
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 75vw;
}

footer {
  font-family: "Press Start 2P";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $UI-UX-5-hex;   // Fondo más claro
  padding: 10px 20px;
  height: 100px;

  @media screen and (max-width: 768px) {
    font-size: 7px;
    padding: 5px;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $UI-UX-2-hex;   // Texto claro

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.footer-p {
  margin: 5px 0;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  border: 4px solid #fff;
  border-top: 4px solid $UI-UX-3-hex;   // Borde más oscuro
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-text {
  margin-top: 16px;
  font-size: 16px;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loader::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-top-color: $UI-UX-4-hex;   // Borde oscuro
  animation: spin 1s linear infinite;
}

#Welcome {
  font-family: "Press Start 2P";
  font-size: 60px;
  background-image: none;
}

#next-button {
  font-family: "Press Start 2P";
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #Welcome {
    font-size: 40px;
  }

  #next-button {
    font-size: 16px;
  }
}

// Estilos para móvil
@media screen and (max-width: 480px) {
  #Welcome {
    font-size: 30px;
  }

  #next-button {
    font-size: 14px;
  }
}
